.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  color: var(--color-primary-light);
  background-color: var(--color-dark-bg);
  padding: 24px;
}

main {
  flex: 1;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

footer {
  padding: 12px;
  margin-top: 24px;
  text-align: center;
  background-color: var(--color-dark-bg);
  color: var(--color-primary-light);
}

footer * {
  color: var(--color-primary-light);
}
