.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  color: var(--color-primary-light);
  background-color: var(--color-dark-bg);
  padding: var(--layout-padding);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 var(--layout-padding);
  width: calc(100% - var(--layout-padding) * 2);
}

footer {
  padding: var(--layout-padding);
  margin-top: var(--layout-padding);
  text-align: center;
  background-color: var(--color-dark-bg);
  color: white;
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2,
h3,
h4 {
  margin: 12px 8px;
  text-align: center;
}

h5 {
  margin: 0 12px 12px;
}

p {
  font-size: 0.8rem;
  margin: 4px 8px;
}
