.modal-container {
  background-color: red;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background-color: rgb(210, 210, 210);
  border: 1px solid black;
  border-radius: 4px;
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal .header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal button {
  background-color: transparent;
  border: none;
}

.modal button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.modal .body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.modal p {
  /* text-emphasis: */
}
.modal h5 {
  margin: 0;
  font-weight: 400;
  width: calc(100% - var(--layout-padding));
  padding: calc(var(--layout-padding) / 2);
  font-size: 1rem;
}
