.modal-container {
  background-color: red;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  z-index: 100;
  overflow: hidden;
}

.modal {
  background-color: rgb(210, 210, 210);
  border: 1px solid black;
  border-radius: 4px;
  min-width: 400px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.modal .header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}
